body {
    margin: 0;
}

* {
  font-family: serif;
}

.graph {
  width: 300px;
  height: 300px;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-style: solid;
  border-width: 3px;
  border-color: #00F4FF;
  border-radius: 70px;
}

#content {
  width: 55%;

  background-color: #F8F8F8;

  margin-top: 50px;
  margin-left: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

polygon.graph-figure, rect.graph-figure, path.graph-figure {
  stroke: blue;
  fill: blue;
  fill-opacity: 0.2;
}

.header {
  background-color: black;
}

.header span {
  color: white;
  font-size: 16pt;
}

span#header_span a {
  color: white;
  text-decoration: none;
}

span#header_span a:hover {
  color: #FF9A00;
  text-decoration: underline;
  opacity: 1;
}

.input_form {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  background-color: #FFABD3;
  border-radius: 25px;
}

.button_div input {
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.pointer_cursor {
  cursor: pointer;
}

.button_div input:hover {
  background-color: white;
  border-color: red;
  color: red;
}

form div {
  margin: 0% 0% 3% 0%;
}

.button_div {
  margin-top: -4%;
  margin-bottom: 0%;
}

#result_table {
  background-color: black;
  color: white;
  border-spacing: 5px 15px;
  text-align: center;
}

#result_table td {
  padding: 5px 20px 5px 20px;
}
